<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristian.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/gankobovinos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gankobovinos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.account.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.menu.feed.AddFeedActivity" />
        <activity android:name=".ui.bovine.milk.MilkBvnActivity" />
        <activity android:name=".ui.bovine.health.HealthBvnActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".ui.bovine.feed.FeedBvnActivity" />
        <activity android:name=".ui.bovine.manage.ManageBvnActivity" />
        <activity android:name=".ui.account.SigninActivity" />
        <activity android:name=".ui.account.RestorePassActivity" />
        <activity
            android:name=".ui.bovine.DetailBovineActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.menu.MenuActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>
        <activity android:name=".ui.farms.AddFarmActivity" />
        <activity android:name=".ui.menu.health.AddHealthActivity" />
        <activity android:name=".ui.bovine.RemoveBovineActivity" />
        <activity android:name=".ui.bovine.AddBovineActivity" />
        <activity
            android:name=".ui.menu.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.bovine.milk.AddMilkBvnActivity" />
        <activity android:name=".ui.farms.FarmActivity" />
        <activity android:name=".ui.bovine.movement.MovementBvnActivity" />
        <activity android:name=".ui.bovine.vaccination.VaccinationBvnActivity" />

        <!-- <activity android:name=".ui.bovine.ceba.CebaBvnActivity" /> -->

        <activity android:name=".ui.bovine.ceba.CebaBvnActivity" />
        <activity android:name=".ui.bovine.ceba.AddCebaBvnActivity" />
        <activity
            android:name=".ui.bovine.reproductive.ReproductiveBvnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.bovine.reproductive.add.AddZealActivity" />
        <activity android:name=".ui.bovine.reproductive.add.AddServiceActivity" />
        <activity android:name=".ui.bovine.reproductive.add.AddDiagnosisActivity" />
        <activity android:name=".ui.bovine.reproductive.add.AddBirthActivity" />
        <activity android:name=".ui.menu.straw.StrawAddActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.menu.meadow.ManageMeadowActivity" />
        <activity android:name=".ui.menu.meadow.aforo.AddAforoActivity" />
        <activity android:name=".ui.menu.meadow.mantenimiento.AddMantenimientoActivity" />
        <activity android:name=".ui.groups.SaveGroupActivity" />
        <activity
            android:name=".ui.groups.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.groups.AddGroupActivity" />
        <activity android:name=".ui.groups.BovineSelectedActivity" />
        <activity android:name=".ui.menu.milk.AddMilkActivity" />
        <activity android:name=".ui.menu.vaccines.AddVaccineActivity" />
        <activity android:name=".ui.manage.AddManageActivity" />
        <activity android:name=".ui.groups.ReApplyActivity"></activity>
    </application>

</manifest>